* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #EDEFE5;
     color: black;
    font-family: 'Dosis', sans-serif;
}
   
#hour {
    font-size: 50px;
}
   
#good, #day, #mili {
    font-size: 24px;
}
#main {
   text-align: center;
   margin-top: 1px;
}
   
#inputDay, #inputMonth {
    width: 35px;
}
.faltam, .tempopara, #otherhours {
    text-align: center;
}
#header {
    color: white;
    background-color: #363957;
    padding-right: auto;
    padding-left: auto;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 25px;
}
#title, #pmm, #ph, #pd, #pw, #pm, #py, #tempoparatitle, #day, #good, #utc0, #utcny {
    transition: font-size, 1s;
}
#title:hover, #pmm:hover, #ph:hover, #pd:hover, #pw:hover, #pm:hover, #py:hover, #day:hover, #utc0:hover, #utcny:hover {
    font-size: 20px;
}
#divsolua{
    display: inline-block;
    position: absolute;
    right: 0px
}
#divhour {
    border: solid 1px black;
    box-shadow: 1px 1px 10px 1px gray;
    border-radius: 50%;
    width: 200px;
    height: 70px;
    margin: auto;
}