* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #EDEFE5;
     color: black;
    font-family: 'Dosis', sans-serif;
}
   
#hour {
    font-size: 50px;
}
   
#good, #day, #mili {
    font-size: 24px;
}
#main {
   text-align: center;
   margin-top: 1px;
}
   
#inputDay, #inputMonth {
    width: 35px;
}
.faltam, .tempopara, #otherhours {
    text-align: center;
}
#header {
    color: white;
    background-color: #363957;
    padding-right: auto;
    padding-left: auto;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 25px;
}
#title, #pmm, #ph, #pd, #pw, #pm, #py, #tempoparatitle, #day, #good, #utc0, #utcny {
    transition: font-size, 2s;
}
#title:hover, #pmm:hover, #ph:hover, #pd:hover, #pw:hover, #pm:hover, #py:hover, #day:hover, #good:hover, #utc0:hover, #utcny:hover {
    font-size: 30px;
}
#divsolua{
    display: inline-block;
    position: absolute;
    right: 0px
}
.divhour {
    border: 1px;
    border-radius: 20%;
    box-shadow: 5px 5px 10px 10px black;
}